@font-face {
    font-family: 'geometria bold';

    src: url('geometria-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'geometria';

    src: url('geometria.ttf') format('truetype');
}